.container {
  background-color: white;
  margin-top: 200px;
  width: 30%;
  padding: 50px;
}

.item {
  margin: 10px;
}
input {
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: lightgray;
  border-color: transparent;
}

button {
  width: 100%;
  height: 45px;
  color: white;
  background: green;
  border-color: transparent;
}

p {
  font-size: 15px;
  text-align: center;


}

#green_words {
  color: green;
}



